---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

const {default : meData} = await import('../assets/me.json');

---
<Layout>
	<h1>{meData.nombre}</h1>
	<p>{meData.profesion}</p>
	<p>{meData.bio}</p>
	{meData.experiencia.map((exp) => (
		<p><b>{exp.fecha}</b></p>
		<p>{exp.empresa}</p>
		<p>{exp.descripcion}</p>
	))}
	<h2>Habilidades</h2>
	{meData.habilidades.map((hab)=>
	<p>{hab.habilidad1}</p>
	<p>{hab.habilidad2}</p>
	<p>{hab.habilidad3}</p>
)}
</Layout>
